.burger-hero {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .burger-hero {
    width: 120px;
  }
}

.burger-hero img {
  width: 100%;
}

.burger-hero__bun-top {
  position: relative;
  z-index: 2;
  margin-bottom: -12%;
}

.burger-hero__fillings {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: -9%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.burger-hero .burger-hero__filling {
  position: relative;
  width: 93%;
}
